.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.contenedor-footer {
    /* display: flex;
    justify-content: center; */
    background-color: #290D0D;
}

.footer-text {
    font-size: 1.6rem;
    color: rgb(218, 212, 199);
    margin-top: 0rem;
}

.footer-text1 {
    font-size: 1.2rem;
    margin-right: 1rem;
    margin-top: 0rem;

    color: rgb(218, 212, 199);
}

.footer-text2 {
    font-size: 1.2rem;
    margin-left: 2rem;
    margin-top: 0rem;
    color: rgb(218, 212, 199);
}
