@font-face {
    font-family: Signika;
    src: url(/src/assets/fonts/Signika-Regular.ttf);
}

body {
    margin: 0;
    background-color: #DAD4C7;
    margin-bottom: 4rem;
}

h1 {
    font-family: Signika;
}

img {
    max-width: 100%;
}

.imagen-logo {
    margin-top: 50px;
}

.imagen-destacada {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.75));
}
