@font-face {
    font-family: Signika;
    src: url(src/assets/fonts/Signika-Regular.ttf);
}

body {
    margin-bottom: 4rem;
    background-color: #DAD4C7;
}

h1 {
    font-family: Signika;
}

img {
    max-width: 100%;
}