@font-face {
    font-family: Signika;
    src: url(src/assets/fonts/Signika-Regular.ttf);
}

.contenedor-cartas {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card {
    width: 30rem;
    margin-bottom: 5rem;
    border-color: rgb(104, 104, 104);
    border-radius: 20px;
    margin: 20px;
}

.cuerpo-carta {
    height: 100px;
}

p {
    font-family: Signika;
}

.card-name {
    font-size: 1.5rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.card-price {
    font-size: 1.2rem;
}