@font-face {
    font-family: Signika;
    src: url(/src/assets/fonts/Signika-Regular.ttf);
}

.producto-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: solid;
    background-color: white;
    border: solid;
    border-color: #290D0D;
    border-width: 2px;
    border-radius: 23px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.75));
    margin-top: 5rem;
}

.nombre-producto {
    margin-top: 3rem;
}

.card-img-producto {
    padding: 0px; 
}

.ingredientes {
    padding: 2rem;
    padding-right: 0rem;
    padding-left: 6rem;
    border-right: solid;
    border-width: 0.15rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.ingredientes-titulo{
    margin-bottom: 2rem;
}

.lista-ingredientes {
    margin: 0px;
}

.ingrediente {
    margin: 0px;
}

.desc-producto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.precio-prod {
    display: flex;
    margin-top: 2rem;
}

.calorias {
    font-size: 1.7rem;
}

.precio-titulo {
    font-size: 1.7rem;
}

.precio-producto {
    margin-left: 1rem;
    font-size: 1.7rem;
    font-weight: bold;
}

.link-productos {
    margin-top: 40px;
    font-family: Signika;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.75));
}

    .link-productos a {
        color: white;
        font-size: 1.5rem;
        background-color: #290D0D;
        border-radius: 20px;
        padding-top: .5rem;
        padding-bottom: .5rem;
        padding-left: 1rem;
        padding-right: 1rem;
        text-decoration: none;
    }

    .link-productos a:hover {
        color: rgb(255, 255, 255);
        background-color: #524444;
        border-radius: 20px;
        padding-top: .5rem;
        padding-bottom: .5rem;
        padding-left: 1rem;
        padding-right: 1rem;
        text-decoration: none;
    }